@import 'buttron'

.gitlab_wrapper
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  .gitlab_btn
    background-color: rgba(52, 152, 219, 0.69);
    width: 30vw;
    text-align: center;
    padding: 5vh;
    font-size: 3vw  !important
    border-radius: 2px;

.hangout_wrapper
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8

.title
  // height: 100vh !important
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1
    buttron({
      font-size: 10vw 
      color: alpha(#2980B9, 0.6) 
      text-shadow: 1px 1px 2px rgba(0,0,0, 0.25)
      padding: 0
      margin: 0
      font-weight: bold
      letter-spacing: 14px
      anim:{
        name: 'color'
        option:{
          count: infinite
          duration: 25s
        }
        timeline:{
          "12.5":{
            opacity: 0.9
          }
          "25":{
            color: alpha(#27AE60, 0.6)
            opacity: 1
          },
          "32.5":{
            opacity: 0.9
          }
          "50":{
            color: alpha(#8E44AD, 0.6)
          }
          "62.5":{
            opacity: 0.9
          }
          "75":{
            color: alpha(#C0392B, 0.6)
          }
          "82.5":{
            opacity: 0.9
          }
        }
      }
    })